body {
	background: #141414;
}

.tv-app {
	height: 1000px;
}

.favs {
	background: #2b2d2f;
	height: 60%;
}

.search {
	background: #006400;
	height: 20%;
}

.shows {
	background: #d4d2d0;
}

.row {
	overflow-x: auto;
	flex-wrap: nowrap;
}

.page-holder {
	min-height: 10vh;
}

.addtofav {
	color: #fff;
}

.removefromfav {
	color: #fff;
}

.removefromfav:hover {
	cursor: pointer;
}

.image-container {
	position: relative;
	transition: transform 0.2s;
}

.image-container:hover {
	cursor: pointer;
	transform: scale(1.1);
}

.image-container:hover .overlay {
	opacity: 1;
}

.overlay {
	position: absolute;
	background: rgba(0, 0, 0, 0.8);
	width: 100%;
	transition: 0.5s ease;
	opacity: 0;
	bottom: 0;
	font-size: 20px;
	padding: 20px;
	text-align: center;
}

.default_img {
	height: 500px;
	margin-left: auto;
	margin-right: auto;
	display: block;
}

/* Pop-up Modal box styling */
.modal {
	position: fixed;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;

	background-color: rgba(0, 0, 0, 0.5);
	display: flex;
	align-items: center;
	justify-content: center;
}

.modal-content {
	width: 500px;
	background-color: #fff;
}

.modal-header, .modal-footer {
	padding: 10px;
}

.modal-title {
	margin: 0;
}

.modal-body {
	padding: 10px;
	border-top: 1px solid #eee;
	border-bottom: 1px solid #eee;
}

.showInfoTitle {
	font-weight: bold;
}


/* mobile design */
@media only screen and (max-width: 768px) {
	.header_logo {
		width: 300%;
	}

	.default_img {
		height: 189px;
	}

	.favs {
		height: 25%;
	}

	.col-sm-2 {
		width: 20% !important;
	}

	.fav_poster {
		width: 100px;
	}

	.show_search_poster {
		width: 200px;
	}

	.card {
	   width: 12rem !important;
	}
}
